documentation/2020-12-16 Präsentation Projektvorhaben/.~lock.Paamestia PPP.odp#
documentation/2020-12-16 Präsentation Projektvorhaben/.~lock.Protokoll.odt#
documentation/2020-12-22 Präsentation Projektvorhaben/.~lock.Paamestia_Final_Form.odp#
code/src/.windows
documentation/2021-01-10 Bestellung der Bauteile/Anforderungsschein Paamestia.pdf
notes/Dokumentation BGT18 Heart-Frequency-Battle.pdf
*.pyc
.vscode/settings.json
*.code-workspace
documentation/Technische Zeichnungen + CAD-Modelle/Fusion 360 - Test
documentation/Technische Zeichnungen + CAD-Modelle/Fusion 360 - zusätzl. Dokumente