doc/2020-12-16 Präsentation Projektvorhaben/.~lock.Paamestia PPP.odp#
doc/2020-12-16 Präsentation Projektvorhaben/.~lock.Protokoll.odt#
doc/2020-12-22 Präsentation Projektvorhaben/.~lock.Paamestia_Final_Form.odp#
code/src/.windows
notes